{% extends 'base.html.twig' %}

{% block title %}Listes des bougies{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Nos bougies </h1>
<hr>
<div class="row pt-2">
{% for LaBougie in LesBougies%}
    <div class="col-sm-12 col-md-4 col-lg-4 col-lx-3">
        <div class="card mb-3">
                <h3 class="card-header" href="">   {{LaBougie.nomB}}</h3>
                <div class="card-body">

                
                </div>

        </div>      
    </div>
{% endfor %}

</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
 
