.prix {
    font-size: 30px;
} 

.connexion {
    background-color: aquamarine;
}

.connexion:hover {
    background-color: blueviolet;
}

.btn-outline-primary{
    background-color: #c74ae0;
}

.btn {
    background-color: transparent;
}


/* le css de FichePoudre.html.twig */
.col-md-6.mb-4 {
    margin-right: 10px; 
}

