{% extends 'base.html.twig' %}

{% block title %}Gestion Poudre Parmuée{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Ajout de poudres parfumée</h1>
{{form(formPoudre)}}
{% endblock %}
