{% extends 'base.html.twig' %}

{% block title %}Gestion Poudre Parmuée{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Nos poudres parfumée</h1>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nom</th>
      <th scope="col">Detail</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      {% for LaPoudre in lesPoudres %}
        {# {% set variable_name = expression %} #}
        <tr>
        <td class="col-2"><img class="avatar mx-auto d-block" src="{{LaPoudre.image}}" alt""></img></td>
        <td class="col-2"> {{LaPoudre.nom}}</td>
        <td class="col-7">
        <p class="d-flex flex-row">
          <span> {{}} </span>
          <span></span>
          <span></span>
        </p>
        </td>
        </tr>
      {% endfor %}
  </tbody>
</table>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
